include ../scripts/scripts
include ../grid/grid
include ../youtube-responsive/youtube-responsive
include ../menu-horizontal/menu-horizontal
include ../before-after/before-after
include ../gallery/gallery
include ../breadcrumbs/breadcrumbs
-
  var asideContact = true
  var asideMenu = true
  var asideArticles = true
  var asideConsult = true
doctype html
html(lang='ru')
  include ../head/head
  body
    include ../header/header
    main
      .container
        .content
          //- +grid({'cols':10}).page-layout
          +grid().page-layout
            //- +grid__item({'l':2,'m':7,'xs':10}).page-layout__aside.page-layout__aside--left
            +grid__item({'m':9,'xs':12}).page-layout__content
              block content
            +grid__item({'m':3,'xs':12}).page-layout__aside.page-layout__aside--right
              if asideContact
                include ../aside/aside-contact/aside-contact
              if asideMenu
                include ../aside/aside-menu/aside-menu
              
              
              
              
    include ../footer/footer
  +scripts(['jquery.js'])
  +scripts(['jquery.fancybox.js'])
