.header-banner
  overflow hidden
  margin-x basePadding
  &__inner
    padding basePadding (basePadding*2)
    display flex
    align-items center
    justify-content space-between
    flex-wrap wrap
    color #ffffff
    text-shadow 0 0 8px #000000
    transition transform .4s
    text-decoration none
    &:hover
      transition none
      transform scale(1.025);
      color #ffffff
  &__discount
    padding basePadding
    font-size font-xs
    strong
      font-size (font-l*2)
  &__info
    display flex
    flex-wrap wrap
    margin-x -(basePadding)
    @media screen and (min-width point-m)
      flex-direction column
  &__title
    font-size font-l
    font-weight bold
    padding-x basePadding
  &__desc
    font-size font-xs
    padding-x basePadding
  &--winter
    & ^[-1]__inner
      background-color #48cde1
      background-image linear-gradient(45deg, #5A8988 45%, #9D9E9E 45%)
  &--spring
    & ^[-1]__inner
      background-color #2ccd52
      background-image linear-gradient(45deg, #5A8988 45%, #B1C8B8 45%)
  &--summer
    & ^[-1]__inner
      background-color #cdb82c
      background-image linear-gradient(45deg, #98bba9 45%, #f3d0b3 45%)
  &--autumn
    & ^[-1]__inner
      background-color #cd9a2c
      background-image linear-gradient(45deg, #9D9E9E 45%, #F2D4B8 45%)
