.header-banner.header-banner--summer
  a(href='').header-banner__inner
    .header-banner__info
      .header-banner__title До&nbsp;31&nbsp;марта
      .header-banner__desc на&nbsp;пересадку волос<br>+ бесплатная консультация
    .header-banner__discount скидка<br>от&nbsp;
      strong 20%
      |  до&nbsp;
      strong 25%
