.aside-block.aside-contact
  .aside-header Интерактив
  a(href='/rus/zapishites-na-priem.html').btn.aside-contact__btn Записаться на приём
  a(href='http://www.netvolos.ru/rus/question.htm').btn.btn--sec.aside-contact__btn
    strong Задайте ваш вопрос
  ul.list-marked
    li
    li
      a(href='http://www.netvolos.ru/rus/norvud.htm')
        strong Определить степень облысения
