.header-nav
  margin-bottom (basePadding*2)
  &__list
    background-color #045658
    display flex
  &__item
    font-size font-s
    flex-grow 1
    a
      padding basePadding
      display block
      text-align center
      color #ffffff
      text-decoration none
      transition background-color .4s
      &:hover
        background-color #9abdab
        transition none
    &--active
      a
        padding basePadding
        display block
        text-align center
        color #ffffff
        background-color #9abdab
