nav.header-nav
  ul.header-nav__list
    li.header-nav__item.header-nav__item--active
      a(href='/') Главная
    li.header-nav__item
      a(href='/') О клинике
    li.header-nav__item
      a(href='/') Фото до и после
    li.header-nav__item
      a(href='/') Наши врачи
    li.header-nav__item
      a(href='/') Цены
    li.header-nav__item
      a(href='/') Отзывы
    li.header-nav__item
      a(href='/') Консультация
    li.header-nav__item
      a(href='/') Контакты
