.pagination
  ul.pagination__list
    li.pagination__item.pagination__item--start
      span <<
    li.pagination__item.pagination__item--prev
      span <
    each item in [1,2,3,4,5,6,7,8,9,10]
      li.pagination__item: a(href='/') !{item}
    li.pagination__item.pagination__item--next
      a(href='') >
    li.pagination__item.pagination__item--last
      a(href='') >>
