.aside-block
  font-size font-s
  line-height line-s
  padding-x (basePadding)
  ul
  ol
  li
    font-size font-s
    line-height line-s
  a:not(.btn)
    text-decoration none
    &:hover
      text-decoration underline
