.footer-contacts
  a(href='/rus/adress.htm').footer-contacts__link Контакты
  | Все права защищены © 2005 - 2018 Медицинский Центр Города | Клиника по пересадке волос.
  | <br>190000 Санкт-Петербург, Васильевский остров, Средний проспект, д. 5
  | <br>Тел: (812) 366-99-66 | Факс: (812) 323 56 47
  a(href='mailto:info@medcentergoroda.ru').footer-contacts__link info@medcentergoroda.ru
  .footer-contacts__agreement
    a(href='/rus/pravila.htm') Правила использования сайта
    span |
    a(href='/rus/obrabotka.htm') Соглашения на обработку персональных данных
    
