.footer-contacts
  font-size font-xs
  line-height line-xs
  text-align center
  margin-bottom basePadding
  &__link
    display block
    margin-bottom (font-xs/2)
  &__agreement
    display flex
    justify-content center
    a
      padding-x (basePadding/2)
