.breadcrumbs
  display flex
  flex-wrap wrap
  padding-bottom (basePadding/3*4)
  font-size font-s
  line-height line-s
  align-items center
  font-weight 500
  &__parent
    padding-right (basePadding /2 )
    a
      color #636363
      text-decoration none
      &:hover
        text-decoration underline
  &__current
    a
      color #636363
      text-decoration none
      &:hover
        text-decoration underline
  &__separator
    padding-right (basePadding /2 )
    color #636363
