mixin breadcrumbs(path = {'parents':[],'current':''})
  .breadcrumbs
    each parent in path.parents
      .breadcrumbs__parent
        a(href='/').link-secondary !{parent}
      .breadcrumbs__separator /
    .breadcrumbs__current: a(href='/').link-secondary !{path.current}
