.footer-author
  display flex
  justify-content center
  font-size font-xs
  line-height line-xs
  &__inner
    display flex
    justify-content center
    flex-direction column
    padding-left 2.75rem
    min-height 2.5rem
    background-image url('../images/medreclama.png')
    background-size 2rem 2rem
    background-repeat no-repeat
    background-position left center
