.footer-author
  .footer-author__inner
  
    a(href='http://www.medreclama.ru/' target='_blank').footer-author__link Разработка сайта и реклама клиники
    .footer-author__name Агентство "Медреклама"
