.consultation-categories
  .consultation-categories__item
    .consultation-categories__title
      a(href='') Все вопросы
    .consultation-categories__count 1003
  .consultation-categories__item
    .consultation-categories__title
      a(href='') Андрогенетическая алопеция
    .consultation-categories__count 94
  .consultation-categories__item
    .consultation-categories__title
      a(href='') Рубцовая алопеция
    .consultation-categories__count 68
  .consultation-categories__item
    .consultation-categories__title
      a(href='') Выпадение волос у мужчин
    .consultation-categories__count 50
  .consultation-categories__item
    .consultation-categories__title
      a(href='') Выпадение волос у женщин
    .consultation-categories__count 75
  .consultation-categories__item
    .consultation-categories__title
      a(href='') Пересадка волос
    .consultation-categories__count 710
