.consultation-categories
  &__item
    display flex
    line-height line-m
    border-bottom 1px solid #92B03D
    padding-y (basePadding/3)
  &__title
    flex-grow 1
    a
      text-decoration none
      &:hover
        text-decoration underline
    
