.consultation-search
  .consultation-search__title Поиск по № вопроса
  form.consultation-search__form
    input(type='text').form-input.consultation-search__input
    button.consultation-search__submit.btn Поиск
