.consultation-search
  display flex
  flex-direction column
  align-items flex-end
  &__title
    margin-bottom (basePadding/2)
    color #626A69
    
  &__form
    display flex
    margin-x -(basePadding/3)
  &__input
    margin-x (basePadding/3)
    align-self stretch
  &__submit
    margin-x (basePadding/3)
    align-self stretch
