.gallery
  display flex
  flex-wrap wrap
  margin -.5rem
  margin-bottom 1rem
  &__item
    margin .5rem
    display flex
    flex-direction column
    justify-content flex-end
    align-items flex-start
    img
      max-width 16rem
      max-height 24rem
    a:nth-of-type(2)
      margin-top 0.5rem
    .gallery
      margin-top 0
      margin-bottom 0
      &__item
        margin-top 0
        margin-bottom 0
  &_small
    & ^[-1]__item
      max-width calc(50% - 1rem)
      img
        max-width 12rem
        max-height 18rem
  &_large
    & ^[-1]__item
      max-width calc(50% - 1rem)
      @media screen and (max-width 768px)
        max-width none
      img
        max-width 100%
        max-height 30rem
    
  &_centered
    justify-content center
