head
  meta(charset="utf-8")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name="format-detection" content="telephone=no")
  link(rel='stylesheet' href='styles/style.css')
  link(rel='shortcut icon' href='/favicon.ico')
