@import 'includes/reset'
@import 'includes/mixins'
@import 'includes/jquery.fancybox.css'
@import 'includes/calendar.css'

html
  color #000
  font-size 16px
  font-family sans-serif
  &.no-scroll
    overflow hidden
body
  display flex
  flex-direction column
  min-height 100vh
  font-family fontBase
p
  font-size 1rem
  margin-bottom 1rem
  line-height 1.5rem
h1
  font-size 2rem
  line-height 2.8125rem
  font-weight bold
  margin-bottom 1rem
  color #045658
h2
  font-size  1.4rem
  line-height 2.4rem
  margin  2rem 0 1rem
  font-weight bold
  color #045658
  &:first-child
    margin-top 0
h3
  font-size  1.2rem
  line-height 1.9166rem
  margin  1.9166rem 0 1rem
  font-weight bold
  color #045658
h4
  font-size  1.125rem
  line-height 1.6875rem
  margin  1.6875rem 0 1.125rem
  font-weight bold
  color #045658
strong
b
  font-weight bold
mark
  background-color transparent
  color #ffb400
img
  max-width 100%
sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
figure
  margin-bottom .5rem
figcaption
  font-size 0.875rem
a
  color #5a8988
  text-decoration underline
  transition color .4s
  &:hover
    color #283d3d
    transition none
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
.container
  display flex
  justify-content center
.content
  max-width 70rem 
  width 100%
  padding-x (basePadding)
.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none
.no-break 
  white-space nowrap
.list-marked
  margin-bottom 1rem
  margin-left 0.5rem
  li
    position relative
    padding-left 1rem
    font-size font-m
    line-height line-m
    &::before
      content '\2022'
      position absolute
      top 0
      left 0
      color #cccccc
      font-size inherit
      line-height inherit
.list-numbered
  margin-bottom 1rem
  margin-left 1.5rem
  li
    font-size font-m
    line-height line-m
.btn
  font-size font-m
  line-height line-m
  padding-x(font-m)
  background #9abdab
  //background-image linear-gradient(rgb(203, 7, 47) 0%, rgb(173, 10, 49) 100%)
  color #ffffff
  text-decoration none
  transition .4s background-color
  cursor pointer
  display inline-block
  text-align center
  border none
  &:hover
    background-color #4c7862
    color #ffffff
    transition none
  &--sec
    background-color #598887
    &:hover
      background-color #315b5e
a[href^='#'].btn
  text-decoration none
  @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
    text-decoration none
a.btn:hover
  text-decoration none

import('../blocks/**/*')
