.form-input
  font-size font-m
  line-height line-m
  padding 0.25rem 0.5rem
  display block
  border 0.5px solid #cccccc
  transition .4s box-shadow
  resize none
  width 100%
  &::placeholder
    color #999999
    transition .4s color
  &:focus
    outline none
    box-shadow 0 0 3px 2px rgba(153,153,158,0.5)
    transition none
    &::placeholder
      color #cccccc
      transition none
