
.top-menu.container.hidden-s.hidden-xs
  .content
    +grid({'nopadding':true})
      +grid__item({'m':2}).top-menu__item
        a(href='http://www.medcentergoroda.ru/stomatologiyja/') Цифровая<br>стоматология
      +grid__item({'m':2}).top-menu__item
        a(href='http://www.medcentergoroda.ru/plasticheskaya-hirurgiya/') Пластическая<br>хирургия
      +grid__item({'m':2}).top-menu__item
        a(href='http://www.medcentergoroda.ru/lazernaya-kosmetologiya/') Лазерная<br>косметология
      +grid__item({'m':2}).top-menu__item
        a(href='http://www.medcentergoroda.ru/meditsinskaya-kosmetologiya/') Медицинская<br>косметология
      +grid__item({'m':2}).top-menu__item
        a(href='http://www.medcentergoroda.ru/flebologiya/uslugi/lechenie-jazv-nizhnih-konechnostej/') Центр<br>флебологии
      +grid__item({'m':2}).top-menu__item.top-menu__item--active
        a(href='/') Пересадка<br>волос
      
