.top-menu
  background-color #f7f7f7
  border-bottom 0.125rem  solid #f0f0f0
  .grid
    margin-x 0
  &__item
    font-size font-xxs
    line-height line-xxs
    border-left 0.25rem solid
    display flex
    padding-x 0
    a
      flex-grow 1
      color #888888
      border-bottom 0
      text-decoration none
      padding-x (basePadding)
      padding-y (basePadding/5)
    &--active
      a
        color #000000
        background-color #ffffff
        font-weight bold
    &:nth-of-type(1)
      border-color #b9d9eb
    &:nth-of-type(2)
      border-color #a7e6d7
    &:nth-of-type(3)
      border-color #ffa3b5
    &:nth-of-type(4)
      border-color #ffa3b5
    &:nth-of-type(5)
      border-color #fcc89b
    &:nth-of-type(6)
      border-color #a7a4e0
