extends /blocks/layout/layout

block content
  h1 О клинике
  ol.list-numbered
    li
      p: strong Методика и&nbsp;опыт:
      p Наша клиника практикует самую передовую и&nbsp;эффективную методику пересадки волос&nbsp;&mdash; фолликулярную микротрансплантацию. Специалисты центра и&nbsp;хирурги по&nbsp;пересадке волос проходили обучение и&nbsp;стажировались в&nbsp;клиниках Франции и&nbsp;Испании. На&nbsp;нашей базе происходят ежегодные семинары по&nbsp;обмену опытом, а&nbsp;результаты нашей работы получили высочайшую оценку не&nbsp;только Министерства Здравоохранения России, но&nbsp;и&nbsp;коллег из-за рубежа.

    li
      p: strong Письменная гарантия результата:
      p Мы&nbsp;письменно гарантируем, что пересаженные нами волос будут расти на&nbsp;протяжении всей жизни.

    li
      p: strong Лицензия:
      p Наш центр работает в&nbsp;соответствии с&nbsp;требованиями местного законодательства и&nbsp;имеет все необходимые разрешения и&nbsp;лицензию ЛО&nbsp;&mdash; 1 &#8470;&nbsp;000139.

    li
      p: strong Соблюдение самых высоких санитарных и&nbsp;гигиенических требований:
      p Мы&nbsp;используем только одноразовые инструменты и&nbsp;материалы.

    li
      p: strong Уникальная методика обезболивания:
      p Комфорт и&nbsp;самочувствие пациента&nbsp;&mdash; наши приоритеты. Для этого используется уникальная методика обезболивания. В&nbsp;течение всей процедуры рядом с&nbsp;пациентом обязательно находится врач&nbsp;&mdash; анестезиолог.

    li
      p: strong Узкоспециализированная практика:
      p На&nbsp;протяжении 7&nbsp;лет наши специалисты занимаются исключительно пересадкой волос. За&nbsp;это время проведено множество успешных операций.

    li
      p: strong Международное признание:
      p Мы&nbsp;являемся одними из&nbsp;лидеров в&nbsp;области трансплантации волос в&nbsp;России. Качество нашей работы и&nbsp;профессионализм персонала признаны мировыми специалистами.

    li
      p: strong Конфиденциальность:
      p Мы&nbsp;строго соблюдаем условия конфиденциальности.

    li
      p: strong Результат:
      p Тысячи благодарных пациентов, забывших про проблему облысения, как в&nbsp;России, так и&nbsp;в&nbsp;странах ближнего и&nbsp;дальнего зарубежья.
  h2 Светлана Валерьевна Боярская и&nbsp;команда ассистентов
  .gallery
    .gallery__item: a(href='http://dev.netvolos.ru/img/doctors/diploms/komandos_1.jpg' data-fancybox='team'): img(src='http://dev.netvolos.ru/img/doctors/diploms/komandos_1_mini.jpg' alt='Светлана Валерьевна Боярская и команда ассистентов' title='Светлана Валерьевна Боярская и команда ассистентов')
    .gallery__item: a(href='http://dev.netvolos.ru/img/doctors/diploms/komandos_2.jpg' data-fancybox='team'): img(src='http://dev.netvolos.ru/img/doctors/diploms/komandos_2_mini.jpg' alt='Светлана Валерьевна Боярская и команда ассистентов' title='Светлана Валерьевна Боярская и команда ассистентов')
    
    
