extends /blocks/layout/layout

block content
  h1 Контактная информация
  p
    strong Телефон:
    br
    |  (812)366-99-66 

  p
    strong Время работы:
    br
    |  09:00&nbsp;&mdash; 21:00 
  P
    strong Адрес: 
    br
    |  Санкт-Петербург, 
    br
    |  Васильевский остров, Кадетская линия 27/5 
  p
    strong Юридический адрес:
    |  Кадетская линия дом 27/5, литер&nbsp;А, пом. 1Н 

  p
    strong E-mail:
    |  mail@netvolos.ru
  h2 Схема проезда
  div(style='margin-bottom: 2.5rem')
    | <script src="http://api-maps.yandex.ru/1.1/?key=AP_pGUwBAAAA_J0jPAIAoFpM91Qt190EOvqAG3HkdtViwekAAAAAAAAAAACLsWel_Ogh7r82rAFxd927ii-91Q==&wizard=constructor" type="text/javascript"></script>
    | <script type="text/javascript">
    |     YMaps.jQuery(function () {
    |         var map = new YMaps.Map(YMaps.jQuery("#YMapsID-3429")[0]);
    |         map.setCenter(new YMaps.GeoPoint(30.286929,59.946047), 15, YMaps.MapType.MAP);
    |         map.addControl(new YMaps.Zoom());
    |         map.addControl(new YMaps.ToolBar());
    |         map.addControl(new YMaps.TypeControl());
    | 
    |         YMaps.Styles.add("constructor#pmgnmPlacemark", {
    |             iconStyle : {
    |                 href : "http://api-maps.yandex.ru/i/0.3/placemarks/pmgnm.png",
    |                 size : new YMaps.Point(28,29),
    |                 offset: new YMaps.Point(-8,-27)
    |             }
    |         });

    |         map.addOverlay(createObject("Placemark", new YMaps.GeoPoint(30.286854,59.945638), "constructor#pmgnmPlacemark", "Клиника по пересадке волос, Средний пр. В.О. д. 5"));

    |         function createObject (type, point, style, description) {
    |             var allowObjects = ["Placemark", "Polyline", "Polygon"],
    |                 index = YMaps.jQuery.inArray( type, allowObjects),
    |                 constructor = allowObjects[(index == -1) ? 0 : index];
    |             description = description || "";

    |             var object = new YMaps[constructor](point, {style: style, hasBalloon : !!description});
    |             object.description = description;

    |             return object;
    |         }
    |     });
    | </script>

    | <div id="YMapsID-3429" style="width:100%;height:437px"></div>
    | <div><a href="http://api.yandex.ru/maps/tools/constructor/" style="color:#1A3DC1">Создано с помощью инструментов Яндекс.Карт</a></div>
    | <!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец) -->
  .gallery
    .gallery__item: a(href='http://dev.netvolos.ru/img/clinic_photo/srednii1-big.jpg' data-fancybox='office'): img(src='http://dev.netvolos.ru/img/clinic_photo/srednii1-big_mini.jpg' alt='' title='')
    .gallery__item: a(href='http://dev.netvolos.ru/img/clinic_photo/srednii2-big.jpg' data-fancybox='office'): img(src='http://dev.netvolos.ru/img/clinic_photo/srednii2-big_mini.jpg' alt='' title='')
    .gallery__item: a(href='http://dev.netvolos.ru/img/clinic_photo/srednii4-big.jpg' data-fancybox='office'): img(src='http://dev.netvolos.ru/img/clinic_photo/srednii4-big_mini.jpg' alt='' title='')
    .gallery__item: a(href='http://dev.netvolos.ru/img/clinic_photo/srednii7-big.jpg' data-fancybox='office'): img(src='http://dev.netvolos.ru/img/clinic_photo/srednii7-big_mini.jpg' alt='' title='')
