extends /blocks/layout/layout

block content
  h1 Белованова Светлана Николаевна
  +grid({paddingy:true, justify:'center'})
    +grid__item({s:9,xs:12})
      p Окончила Ленинградский педиатрический медицинский институт в&nbsp;1983г. Обучалась в&nbsp;субординатуре и&nbsp;интернатуре по&nbsp;детской хирургии, травматологии и&nbsp;ортопедии.
      p С&nbsp;1984&nbsp;г. работала в&nbsp;качестве хирурга экстренной хирургической службы. Имеет 1-ую квалификационную категорию. Имеет специализацию по&nbsp;пластической хирургии.
      p С&nbsp;2003&nbsp;г. работает на&nbsp;отделении трансплантации волос. Провела около 2000 операций по&nbsp;трансплантации волос.
    +grid__item({s:3,xs:6}): img(src='http://dev.netvolos.ru/img/doctors/belovanova_svetlana.jpg' alt='Боярская Светлана Валерьевна' title='Боярская Светлана Валерьевна')

  h2 Сертификаты и&nbsp;дипломы

  .gallery
    .gallery__item: a(href='http://dev.netvolos.ru/img/doctors/diploms/belovanova_dip_1_big.jpg' data-fancybox='team'): img(src='http://dev.netvolos.ru/img/doctors/diploms/belovanova_dip_1_mini.jpg' alt='Сертификат. Белованова Светлана Николаевна' title='Сертификат. Белованова Светлана Николаевна')
    .gallery__item: a(href='http://dev.netvolos.ru/img/doctors/diploms/belovanova_dip_2_big.jpg' data-fancybox='team'): img(src='http://dev.netvolos.ru/img/doctors/diploms/belovanova_dip_2_mini.jpg' alt='Диплом. Белованова Светлана Николаевна' title='Диплом. Белованова Светлана Николаевна')

  h2 Отзывы

  blockqoute.feedback-item &laquo;Я&nbsp;давно собирался, но&nbsp;долго решиться не&nbsp;мог. Теперь я&nbsp;рад, что наконец-то решился и&nbsp;понял, что зря откладывал это решение. Я&nbsp;и&nbsp;не&nbsp;ожидал, что операция пройдёт безболезненно и&nbsp;без всяких проблем для меня, хотя сидеть неподвижно было трудновато. Спасибо всему персоналу&nbsp;и, особенно, Светлане Валерьевне за&nbsp;операцию..&raquo;
    cite.feedback-item__author Игорь

  blockqoute.feedback-item &laquo;Сейчас прошло примерно 8&nbsp;месяцев со&nbsp;дня операции. Я, честно говоря, не&nbsp;ожидал таких хороших результатов. Я&nbsp;никому, кроме жены и&nbsp;ближайших родственников, про операцию не&nbsp;говорил. Однако, все окружающие заметили, что что-то во&nbsp;мне изменилось, но&nbsp;немногие поняли что. Засыпали комплиментами&nbsp;&mdash; мол ты&nbsp;как-то стал лучше выглядеть. Я&nbsp;человек взрослый, пользуюсь на&nbsp;работе авторитетом, и&nbsp;сначала просто игнорировал такие замечания. Но&nbsp;потом стал отшучиваться&nbsp;&mdash; мол&nbsp;да, принимаю омолаживающие таблетки&nbsp;&mdash; хотите и&nbsp;вам достану.&raquo;
    cite.feedback-item__author Григорий

  blockqoute.feedback-item &laquo;Хочу сказать Вам огромное спасибо за&nbsp;проделанную кропотливую работу и&nbsp;хороший результат. Только теперь до&nbsp;меня дошло, почему это столько стоит, но&nbsp;это стоит того! Я&nbsp;очень доволен!&raquo;
    cite.feedback-item__author Владимир

  blockqoute.feedback-item &laquo;Не&nbsp;могу подобрать нужных слов для выражения благодарности за&nbsp;вашу работу! Сделал 2&nbsp;операции, лысина была большая. Результат превзошел все мои ожидания, я&nbsp;даже помолодел))). Спасибо Врачу и&nbsp;всем Медсестрам за&nbsp;внимание и&nbsp;обслуживание. Вы&nbsp;мне действительно очень помогли!&raquo;
    cite.feedback-item__author Анатолий
