extends /blocks/layout/layout

block content
  h1 Боярская Светлана Валерьевна
  +grid({paddingy:true, justify:'center'})
    +grid__item({s:9,xs:12})

      p Заведующая отделением трансплантации волос
      p Окончила Санкт-Петербургский Государственный медицинский университет (1-ый Ленинградский медицинский институт) им. академика И.П.Павлова в&nbsp;1992&nbsp;году.

      p Обучалась в&nbsp;клинической ординатуре МАПО по&nbsp;специальности &laquo;челюстно-лицевая хирургия&raquo;. Имеет специализацию по&nbsp;пластической хирургии. Провела около 3000 операций по&nbsp;трансплантации волос.

      p Неоднократно обучалась и&nbsp;стажировалась во&nbsp;Франции и&nbsp;Испании.

      p В&nbsp;центре работает со&nbsp;дня его основания.
    +grid__item({s:3,xs:6}): img(src='/img/doctors/boyaskaya_svetlana.jpg' alt='Боярская Светлана Валерьевна' title='Боярская Светлана Валерьевна')

  h2 Сертификаты и&nbsp;дипломы

  .gallery
    .gallery__item: a(href='/img/doctors/diploms/bojarskaja_dip_1_big.jpg' data-fancybox='team'): img(src='/img/doctors/diploms/bojarskaja_dip_1_mini.jpg' alt='Сертификат. Боярская Светлана Валерьевна' title='Сертификат. Боярская Светлана Валерьевна')
    .gallery__item: a(href='/img/doctors/diploms/bojarskaja_dip_2_big.jpg' data-fancybox='team'): img(src='/img/doctors/diploms/bojarskaja_dip_2_mini.jpg' alt='Диплом. Боярская Светлана Валерьевна' title='Диплом. Боярская Светлана Валерьевна')

  h2 Светлана Валерьевна Боярская и&nbsp;команда ассистентов
  .gallery
    .gallery__item: a(href='/img/doctors/diploms/komandos_1.jpg' data-fancybox='team'): img(src='/img/doctors/diploms/komandos_1_mini.jpg' alt='Светлана Валерьевна Боярская и команда ассистентов' title='Светлана Валерьевна Боярская и команда ассистентов')
    .gallery__item: a(href='/img/doctors/diploms/komandos_2.jpg' data-fancybox='team'): img(src='/img/doctors/diploms/komandos_2_mini.jpg' alt='Светлана Валерьевна Боярская и команда ассистентов' title='Светлана Валерьевна Боярская и команда ассистентов')

  h2 Отзывы

  blockqoute.feedback-item &laquo;Здравствуйте, хочется поблагодарить Боярскую Светлану Валерьевну за&nbsp;проделанную работу. Результат превзошел все ожидания! Муж долго не&nbsp;хотел,откладывал, но&nbsp;все таки уступил моей просьбе, прошел год и&nbsp;я&nbsp;до&nbsp;сих пор слышу от&nbsp;него слова благодарности, за&nbsp;то, что я&nbsp;его уговорила.Такое ощущение , что лысины никогда и&nbsp;не&nbsp;было, кажется, что всегда так и&nbsp;было и&nbsp;только фотографии напоминают об&nbsp;обратном. Огромное спасибо Светлана Валерьевна.&raquo;
    cite.feedback-item__author Алена

  blockqoute.feedback-item &laquo;Хотела&nbsp;бы выразить благодарность за&nbsp;профессионализм, грамотную консультацию и&nbsp;желанный результат Боярской Светлане Валерьевне и&nbsp;команде медсестер. В&nbsp;августе этого года была сделана пересадка волос на&nbsp;лобные и&nbsp;височные части. Обещанный результат на&nbsp;лицо. Пересаженные волосы прижились и&nbsp;растут. Спасибо Вам огромное за&nbsp;проделанную работу и&nbsp;отзывчивость.&raquo;
    cite.feedback-item__author Анастасия

  blockqoute.feedback-item &laquo;Спасибо Боярской Светлане Валерьевне. Все получилось, как хотел&raquo;.
    cite.feedback-item__author Максим

  blockqoute.feedback-item &laquo;Светлана Валерьевна, огромное Вам спасибо&nbsp;&mdash; моя растительность на&nbsp;голове после ваших чудесных рук увеличивается, соответственно улучшается жизненный тонус и&nbsp;вообще все, все, все...... улучшается!&raquo;
    cite.feedback-item__author Андрей

  blockqoute.feedback-item &quot;Долго думал, выбирал клинику, выбирал врачей. Сайты везде похожи и&nbsp;решить, где пересадить волосы, было трудно. Поэтому был на&nbsp;консультации в&nbsp;2-х клиниках в&nbsp;Москве и&nbsp;в&nbsp;2-х клиниках в&nbsp;Санкт-Петербурге. Консультация в&nbsp;этой клинике у&nbsp;Боярской С.В. показалась мне наиболее профессиональной. Информация была предоставлена не&nbsp;только об&nbsp;операции, но&nbsp;и&nbsp;о&nbsp;лекарствах, которые применяют при лечении выпадения волос, их&nbsp;плюсы и&nbsp;минусы. Операцией доволен, почувствовал только первый укол когда делали обезболивание. Пересадили 2930&nbsp;графтов. Отеков не&nbsp;было. Результат очень хороший. Все говорят, что скинул 10&nbsp;лет (в&nbsp;том, что сделал операцию, не&nbsp;признаюсь, говорю, что втирал чеснок:)))
    cite.feedback-item__author Игорь
