extends /blocks/layout/layout

block content
  -
    asideMenu = false
    asideArticles = false
  h1 Заочная консультация
  p Раздел «Консультации» - это база данных, состоящая из 1003 вопросов, присланных посетителями нашего сайта. Данные вопросы и ответы на них структурированы по разделам, чтобы можно было легко и удобно получить необходимую Вам информацию.
  p Если Вы не нашли ответ на свой вопрос, обратитесь за консультацией к нашим специалистам.
  include ../blocks/consultation/consultation-categories/consultation-categories
