extends /blocks/layout/layout

block content
  -
    var asideMenu = false
    var asideArticles = false
  include /blocks/consultation/consultation-item/consultation-item
  h1 Заочная консультация
  include /blocks/consultation/consultation-top/consultation-top

  -
    var questions = [
      {
        'number': 3612,
        'topic': 'Пересадка волос',
        'date': '27.02.2018',
        'name': 'Евгений',
        'question': 'добрый вечер,перед пересадкой волос в область макушки на сколько коротко нужно подстричься ,что бы вам было удобно сажать волосы ?',
        'answer': 'Добрый день, Евгений! В зоне пересадки волосы должны быть подстрижены максимально коротко : 1 мм. - 2 мм. С уважением, заведующая отделением пересадки волос Светлана Валерьевна Боярская',
        'consultant':'врач-хирург'
      },
      {
        'number': 3610,
        'topic': 'Пересадка волос',
        'date': '26.02.2018',
        'name': 'Артур',
        'age':'30',
        'question': 'Здравствуйте!Мне 30 лет,на голове имеются 3 шрама от пожара,волосы там не растут.Скажите,можно пересадить туда волосы и будут ли они расти?Заранее спасибо!',
        'answer': 'Добрый день, Артур! В область рубцов можно и нужно пересаживать волосы. Они хорошо приживаются и растут на протяжении всей жизни. С уважением, заведующая отделением пересадки волос Светлана Валерьевна Боярская',
        'consultant':'врач-хирург'
      },
      {
        'number': 3607,
        'topic': 'Пересадка волос',
        'date': '20.02.2018',
        'name': 'Юрий',
        'question': 'Здравствуйте! Меня интересует такой вопрос. Если операция длится несколько часов, не погибнут ли волосы находясь вне организма? И влияет ли это на приживаемость?',
        'answer': 'Добрый день, Юрий! Графты "вне организма" находятся очень небольшой промежуток времени (после извлечения они помещаются в специальный охлажденный раствор), поэтому отлично сохраняютсяи хорошо приживаются. С уважением, заведующая отделением пересадки волос Светлана Валерьевна Боярская',
        'consultant':'врач-хирург'
      },
      {
        'number': 3606 ,
        'topic': 'Пересадка волос',
        'date': '18.02.2018',
        'name': 'Ангелина',
        'age':'45',
        'question': 'Подскажите с какими неудобствами в повседневной жизни возможно придется столкнуться после операции?Почему нельзя подвергать воздействию солнечных лучей зону трансплонтации и как долго?Какой должна быть длина волос при опереции?Заранее спасибо.',
        'answer': 'Добрый день, Ангелина! В послеоперационном периоде около 8 - 10 дней будут корочки в зонн трпнсплантпции, больше никаких "неудобств" нет. Вокруг каждого пересаженного графта под корочками обоазуются точечные рубцы, которые при воздействии ультрафиолета могут развиваться, поэтому надо недопускать попадания прямых солнечных лучей на эту зону 3 мес. Длина волос в донорской зоне должна быть 2 мм. С уважением, заведующая отделением пересадки волос Светлана Валерьевна Боярская',
        'consultant':'врач-хирург'
      }
    ]
  each item in questions
    +consultationItem(item)
