extends /blocks/layout/layout

block content
  h1 Наши врачи
  h2: a(href='http://dev.netvolos.ru/rus/nashi-vrachi/boyarskaya-svetlana.htm') Боярская Светлана Валерьевна
  +grid({paddingy:true, justify:'center'})
    +grid__item({s:10,xs:12})
      p Заведующая отделением трансплантации волос
      p Окончила Санкт-Петербургский Государственный медицинский университет (1-ый Ленинградский медицинский институт) им. академика И.П.Павлова в&nbsp;1992&nbsp;году.
      p Обучалась в&nbsp;клинической ординатуре МАПО по&nbsp;специальности &laquo;челюстно-лицевая хирургия&raquo;. Имеет специализацию по&nbsp;пластической хирургии. Провела около 3000 операций по&nbsp;трансплантации волос.
      p Неоднократно обучалась и&nbsp;стажировалась во&nbsp;Франции и&nbsp;Испании. В&nbsp;центре работает со&nbsp;дня его основания.
      p: a(href='http://dev.netvolos.ru/rus/nashi-vrachi/boyarskaya-svetlana.htm') Смотреть всю информацию
    +grid__item({s:2,xs:6}): img(src='http://dev.netvolos.ru/img/doctors/boyaskaya_svetlana.jpg' alt='Боярская Светлана Валерьевна' title='Боярская Светлана Валерьевна')
  h2: a(href='http://dev.netvolos.ru/rus/nashi-vrachi/belovanova-svetlana.htm') Белованова Светлана Николаевна
  +grid({paddingy:true, justify:'center'})
    +grid__item({s:10,xs:12})
      p Окончила Ленинградский педиатрический медицинский институт в&nbsp;1983г. Обучалась в&nbsp;субординатуре и&nbsp;интернатуре по&nbsp;детской хирургии, травматологии и&nbsp;ортопедии.
      p С&nbsp;1984&nbsp;г. работала в&nbsp;качестве хирурга экстренной хирургической службы. Имеет 1-ую квалификационную категорию. Имеет специализацию по&nbsp;пластической хирургии.
      p С&nbsp;2003&nbsp;г. работает на&nbsp;отделении трансплантации волос. Провела около 2000 операций по&nbsp;трансплантации волос.
      p: a(href='http://dev.netvolos.ru/rus/nashi-vrachi/belovanova-svetlana.htm') Смотреть всю информацию
    +grid__item({s:2,xs:6}): img(src='http://dev.netvolos.ru/img/doctors/belovanova_svetlana.jpg' alt='Боярская Светлана Валерьевна' title='Боярская Светлана Валерьевна')
