extends /blocks/layout/layout

block content
  h1 Пересадка волос
  p.text-marked.text-marked--big МЕДИЦИНСКИЙ ЦЕНТР ГОРОДА – ведущая клиника в области пересадки собственных волос в Санкт – Петербурге и один из лидеров этого направления эстетической медицины в России.
  ul.list-marked
    li
      strong Эксклюзивная методика пересадки волос позволяет добиться 100% приживаемости
    li
      strong Пересаженные волосы сохраняют все свои естественные свойства
    li
      strong Живые и здоровые волосы, новые и красивые - основа Вашего имиджа, залог успеха в карьере и в личной жизни
  +youtube-responsive('RwI6Msxp2YY')
  p Волосы - важный орган человеческого организма. И когда происходят какие-либо сбои в их работе, например, выпадение волос, состояние мужчины или женщины ухудшается, это может сказываться на здоровье или психике человека. Поэтому в такие сложные моменты жизни человека необходимо предпринять все необходимые меры, чтобы решить эту сложную проблему - облысение.
  p В начале 90-х годов 20 века в области эстетической медицины произошли тотальные изменения. Благодаря воплощению новых технологий в медицине стало возможно кардинально изменить внешность человека. Десятки тысяч людей с помощью новых направлений эстетической медицины смогли исправить дефекты своей внешности. Косметические операции на теле и лице стали обычным явлением и помогли желающим избавиться от внутреннего конфликта и дискомфорта, связанного с внешностью.
  p Примерно в тоже время благодаря новым методикам медицина смогла решить проблему преждевременного облысения. Благодаря появившейся возможности пересадки собственных волос, направление эстетической медицины, связанное с лечением от облысения быстро стало одним из ведущих.
  +youtube-responsive('RPgF9DvzQiQ')
  p Трансплантация волос - это замечательный способ решения проблемы выпадения волос. Данная процедура не требует госпитализации и проводится под местной анестезией. При этом волосы для пересадки берут с задней или боковой поверхностей головы.
  p Волосы, перенесенные таким образом в проблемную зону, не истончаются и не выпадают. Восстановительный период при пересадке волос достаточно непродолжительный и пересаженные волосы продолжают расти в течение всей Вашей жизни. Пересадка волос - это уникальный метод, который имеет большие преимущества перед париками и другими искусственными волосами, поскольку Вы обретете новые собственные волосы, которыми можно будет гордиться.
  p Трансплантация собственных волос - процедура, прямо влияющая на внешность человека, его настроение и уверенность в себе, поэтому при выборе специалистов главное значение имеет не стоимость услуг, а используемая методика, уровень профессионализма, опыт и художественное мастерство.
  p Предметом особой гордости нашей клиники по пересадке волос являются высококвалифицированные врачи и медсестры, прошедшие стажировку и практиковавшие в Париже, в Барселоне и на острове Маврикий.
