extends /blocks/layout/layout

block content
  h1 Степень облысения по классификации Норвуда

  p Классификация Норвуда широко используется профессионалами для определения степени облысения пациента.
  .gallery
    .gallery__item
      a(href='/img/norvud/norm.jpg' data-fancybox='norvud'): img(src='/img/norvud/norm_small.jpg' alt='Норма' title='Норма')
      .gallery__description Норма
    .gallery__item
      a(href='/img/norvud/stage-1.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-1_small.jpg' alt='Случай №1' title='Случай №1')
      .gallery__description Случай №1
    .gallery__item
      a(href='/img/norvud/stage-2.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-2_small.jpg' alt='Случай №2' title='Случай №2')
      .gallery__description Случай №2
    .gallery__item
      a(href='/img/norvud/stage-2a.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-2a_small.jpg' alt='Случай №2А' title='Случай №2А')
      .gallery__description Случай №2А
    .gallery__item
      a(href='/img/norvud/stage-3.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-3_small.jpg' alt='Случай №3' title='Случай №3')
      .gallery__description Случай №3
    .gallery__item
      a(href='/img/norvud/stage-3a.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-3a_small.jpg' alt='Случай №3А' title='Случай №3А')
      .gallery__description Случай №3А
    .gallery__item
      a(href='/img/norvud/stage-4.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-4_small.jpg' alt='Случай №4' title='Случай №4')
      .gallery__description Случай №4
    .gallery__item
      a(href='/img/norvud/stage-4a.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-4a_small.jpg' alt='Случай №4А' title='Случай №4А')
      .gallery__description Случай №4А
    .gallery__item
      a(href='/img/norvud/stage-5.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-5_small.jpg' alt='Случай №5' title='Случай №5')
      .gallery__description Случай №5
    .gallery__item
      a(href='/img/norvud/stage-5a.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-5a_small.jpg' alt='Случай №5А' title='Случай №5А')
      .gallery__description Случай №5А
    .gallery__item
      a(href='/img/norvud/stage-6.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-6_small.jpg' alt='Случай №6' title='Случай №6')
      .gallery__description Случай №6
    .gallery__item
      a(href='/img/norvud/stage-7.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-7_small.jpg' alt='Случай №7' title='Случай №7')
      .gallery__description Случай №7
    .gallery__item
      a(href='/img/norvud/stage-8.jpg' data-fancybox='norvud'): img(src='/img/norvud/stage-8_small.jpg' alt='Случай №8' title='Случай №8')
      .gallery__description Случай №8
  h2 Информация для ознакомления:
  table
    tr
      td(style='width: 150px'): strong 2 - 2А - 3 - 3А
      td: i Маленькая 
        a(href='/rus/why.htm') степень облысения
      td Единственный сеанс фолликулярной микротрансплантации волос гарантирует Вам прекрасный результат
    tr
      td: strong 4 - 4А
      td: i Средняя степень облысения
      td Необходимо один или два сеанса фолликулярной миктротрансплантации в зависимости от желаемой Вами плотности пересаженных волос
    tr
      td: strong 5 - 5А - 6
      td: i Большая степень облысения
      td Два (или три) сеанса фолликулярной миктротрансплантации будет достаточно
    tr
      td: strong 7 - 8
      td: i Очень большая степень облысения
      td Для принятия решения о возможности миктротрансплантации Вам необходимо обратиться в нашу клинику для решения вопроса о возможности пересадки
    
