extends /blocks/layout/layout

block content
  h1 Фото до и после
  -
    const beforeAfter = {
      'list':[
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-1.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-1.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-2.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-2.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-3.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-3.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-4.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-4.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-5.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-5.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-6.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-6.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-7.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-7.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-8.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-8.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-9.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-9.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-10.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-10.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-11.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-11.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-12.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-12.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-13.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-13.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-14.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-14.jpg', 'alt':''},
        {'src':'/img/foto-do-i-posle/foto-do-i-posle-15.jpg', 'detail': '/img/foto-do-i-posle/foto-do-i-posle-15.jpg', 'alt':''},
      ],
      settings: {'fancyboxId': 'foto-do-i-posle'},
    }
  +gallery(beforeAfter)
