extends /blocks/layout/layout

block content
  h1 Задать вопрос
  p Вы можете задать любой интересующий вас вопрос нашему специалисту. 
  form.form-ask
    .form-ask__field
      label.form-ask__label(for='form-ask__name') Имя: *
      .form-ask__input
        input.form-input(type='text' name='name')#form-ask__name
    .form-ask__field
      label.form-ask__label(for='form-ask__phone') Телефон:
      .form-ask__input
        input.form-input(type='tel' name='phone')#form-ask__phone
    .form-ask__field.form-ask__field--textarea
      label.form-ask__label(for='form-ask__question') Особые пометки:
      .form-ask__input
        textarea.form-input#form-ask__question(name='text')
    .form-ask__field.form-ask__field--agreement
      .form-ask__input.form-ask__input--agreement
        input(type='checkbox' required checked)#form-ask__agreement
      label.form-ask__label.form-ask__label--agreement(for='form-ask__agreement') Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.
    .form-ask__submit
      input.btn(type='submit' name='submit' value='Отправить')
