extends /blocks/layout/layout

block content
  +breadcrumbs({'parents':['Главная'],'current':'Запишитесь на прием'})
  h1 Запишитесь на прием
  p Вы можете записаться к нам на прием, заполнив данную форму или позвонив нам по телефону 670-94-98. Мы будем Вам благодарны, если Вы укажете цель визита и удобное время для визита. Спасибо!
  form.form-ask
    .form-ask__field
      label.form-ask__label(for='form-ask__name') Имя: *
      .form-ask__input
        input.form-input(type='text' name='name')#form-ask__name
        .form-ask__error.form-ask__error--active Обязательное поле
    .form-ask__field
      label.form-ask__label(for='form-ask__phone') Телефон: *
      .form-ask__input
        input.form-input(type='tel' name='phone')#form-ask__phone
        .form-ask__error Обязательное поле
    .form-ask__field
      label.form-ask__label(for='form-ask__email') E-mail:
      .form-ask__input
        input.form-input(type='email' name='email')#form-ask__email
    .form-ask__field
      label.form-ask__label(for='txtcal0') Дата визита:
      .form-ask__input
        input.form-input(type='text' name='phone')#txtcal0
        #cal0Container
    .form-ask__field.form-ask__field--textarea
      label.form-ask__label(for='form-ask__question') Цель визита:
      .form-ask__input
        textarea.form-input#form-ask__question(name='text')
    .form-ask__field.form-ask__field--agreement
      .form-ask__input.form-ask__input--agreement
        input(type='checkbox' required checked)#form-ask__first-visit
      label.form-ask__label.form-ask__label--agreement(for='form-ask__first-visit') Первый визит
    .form-ask__field.form-ask__field--agreement
      .form-ask__input.form-ask__input--agreement
        input(type='checkbox' required checked)#form-ask__agreement
      label.form-ask__label.form-ask__label--agreement(for='form-ask__agreement') Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.
    .form-ask__submit
      input.btn(type='submit' name='submit' value='Записаться на приём')
    script(src="../scripts/cal.js")
    script
      | //CALENDAR SETUP
      | var MONTHS_SHORT 	= Array("Янв", "Фев", "Мар", "Апр", "Май", "Июнь", "Июль", "Авг", "Сен", "Окт", "Ноя", "Дек");
      | var MONTHS_LONG 	= Array("Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь");
      | var WEEKDAYS_1CHAR 	= Array("В", "П", "В", "С", "Ч", "П", "С");
      | var WEEKDAYS_SHORT 	= Array("Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб");
      | var WEEKDAYS_MEDIUM = Array("Вос", "Пон", "Вто", "Сре", "Чет", "Пят", "Суб");
      | var WEEKDAYS_LONG 	= Array("Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота");
      | var START_WEEKDAY 	= 0;
    script(defer="defer") rsf_CALENDAR.util.Event.addListener(window, "load", init(Array('FLAT'),Array('dd.mm.yyyy'),Array('')));
