mixin beforeAfter(item)
  .before-after
    .before-after__title: a(href= item.detail) !{item.title}
    .before-after__before
      .before-after__image: a(href= item.before.detail data-fancybox='gallery-'+item.counter): img(src= item.before.thumb alt= item.title + ': до' title= item.title + ': до')
      .before-after__subtitle До
    .before-after__after
      .before-after__image: a(href= item.after.detail data-fancybox='gallery-'+item.counter): img(src= item.after.thumb alt= item.title + ': после' title= item.title + ': после')
      .before-after__subtitle После
