.before-after
  display flex
  flex-wrap wrap
  margin-x -(basePadding)
  margin-bottom (basePadding*2)
  &__title
    width 100%
    margin-x basePadding
    margin-bottom basePadding
    font-weight bold
  &__before
  &__after
    padding-x basePadding
    display flex
    flex-direction column
    align-items center
  &__image
    margin-bottom (basePadding/2)
    position relative
    &::after
      content ''
      position absolute
      bottom (basePadding/2)
      right (basePadding/2)
      width 2.25rem
      height 2.25rem
      background-image url("data:image/svg+xml;utf8, <svg enable-background='new 0 0 512 512' height='512px' id='Layer_1' version='1.1' viewBox='0 0 512 512' width='512px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M497.913,497.914c-18.782,18.781-49.226,18.781-68.008,0l-84.862-84.864c-34.89,22.366-76.131,35.718-120.66,35.718  C100.468,448.768,0,348.314,0,224.384C0,100.454,100.468,0,224.383,0c123.931,0,224.384,100.453,224.384,224.384  c0,44.529-13.353,85.771-35.718,120.675l84.863,84.849C516.695,448.689,516.695,479.131,497.913,497.914z M224.383,64.11  c-88.511,0-160.274,71.763-160.274,160.274c0,88.526,71.764,160.274,160.274,160.274c88.526,0,160.273-71.748,160.273-160.274  C384.656,135.873,312.909,64.11,224.383,64.11z M256.438,320.548h-64.108v-64.109H128.22V192.33h64.109v-64.11h64.108v64.11h64.11  v64.109h-64.11V320.548z'/></svg>")
      background-size contain
      opacity .5
