.header-contacts
  &__phone
    font-size font-xs
    a
      color #000
      text-decoration none
      &:hover
        color #666
    strong
      font-size (font-m*1.75)
      line-height (line-m*1.75)
      @media screen and (max-width 768px)
        font-size (font-m)
        line-height (line-m)
  &__callback
    font-size font-xs
