.header-contacts
  .header-contacts__phone
    a(href='tel:+78126709498')
      | (812) 
      strong 670-94-98
  .header-contacts__callback
    a(href="/rus/poluchit-obratnyj-zvonok.html").CallbackLink Получить обратный звонок
