.menu-horizontal
  display flex
  flex-wrap wrap
  margin-x -(basePadding)
  margin-y -(basePadding/3)
  &__item
    padding-x basePadding
    margin-y (basePadding/3)
    a
      color #000
      &:hover
        color #000
        text-decoration none
