.aside-block
  .aside-header Статьи
  ul.list-marked
    li
      a(href='') Алопеция
    li
      a(href='') Андрогенетическая алопеция
    li
      a(href='') Андрогенная алопеция
    li
      a(href='') Очаговая алопеция
    li
      a(href='') Алопеция у женщин
    li
      a(href='') Трихолог
    li
      a(href='') Трихология
    li
      a(href='') Лысина
    li
      a(href='') Облысение у женщин
    li
      a(href='') Облысение у мужчин
    li
      a(href='') Выпадение волос
    li
      a(href='') Выпадение волос у женщин
