.consultation-item
  margin-bottom (basePadding*2)
  background-color #fafafa
  line-height line-m
  &__title
    display flex
    flex-wrap wrap
    color #2C79B3
    font-size font-l
    margin-bottom (font-l)
    padding (basePadding*2) (basePadding*2) 0
    @media screen and (max-width point-m)
      padding-x basePadding
  &__topic
    margin-x (basePadding/2)
  &__name
    padding 0 (basePadding*2) basePadding
    background linear-gradient(#fafafa, #f5f5f5)
    text-align right
    @media screen and (max-width point-m)
      padding-x basePadding
  &__question
    font-weight bold
    padding basePadding (basePadding*2)
    @media screen and (max-width point-m)
      padding-x basePadding
  &__answer
    padding basePadding (basePadding*2)
    @media screen and (max-width point-m)
      padding-x basePadding
  &__consultant
    padding  0 basePadding (basePadding*2)
    text-align right
    @media screen and (max-width point-m)
      padding-x basePadding
    
