mixin consultationItem(settings = {'number': 0,'topic': '','date': '01.01.2018','name': '','question': '','answer': '', 'consultant': ''})
  .consultation-item
    .consultation-item__title
      .consultation-item__number Вопрос №: 
        a(href='') !{settings.number}
      .consultation-item__topic | Тема: !{settings.topic} |
      .consultation-item__date !{settings.date}
    .consultation-item__question !{settings.question}
    .consultation-item__name !{settings.name}
      if settings.age
        | , возраст: !{settings.age}
    .consultation-item__answer !{settings.answer}
    .consultation-item__consultant Консультант: 
      a(href='') !{settings.consultant}
    
