.page-layout
  margin-bottom (basePadding*2)
  padding-x basePadding
  &__aside
    font-size font-s
    border 0.5px solid #cccccc
    padding-x 0
    @media screen and (max-width point-l)
      &--left
        order 3
      &--right
        order 2
  &__content
    padding (basePadding*2)
    border 0.5px solid #cccccc
    @media screen and (max-width point-l)
      order 1
    @media screen and (max-width point-m)
      padding basePadding
