form.form-ask
  .form-ask__field.form-ask__field--textarea
    label.form-ask__label(for='form-ask__question') Ваш вопрос:*
    .form-ask__input
      textarea.form-input#form-ask__question(name='text')
      .form-ask__error.form-ask__error--active Обязательное поле
  .form-ask__field
    label.form-ask__label(for='form-ask__name') Имя: *
    .form-ask__input
      input.form-input(type='text' name='name')#form-ask__name
      .form-ask__error Обязательное поле
  .form-ask__field
    label.form-ask__label(for='form-ask__email') E-mail: *
    .form-ask__input
      input.form-input(type='email' name='email')#form-ask__email
      .form-ask__error Обязательное поле
  .form-ask__field
    label.form-ask__label(for='form-ask__address') Город, страна:
    .form-ask__input
      input.form-input(type='text' name='city')#form-ask__address
  .form-ask__field
    label.form-ask__label(for='form-ask__phone') Телефон:
    .form-ask__input
      input.form-input(type='tel' name='phone')#form-ask__phone
  .form-ask__field
    label.form-ask__label(for='form-ask__age') Возраст (лет):
    .form-ask__input
      input.form-input(type='text' name='age')#form-ask__age
  .form-ask__field.form-ask__field--options
    label.form-ask__label Пол:
    .form-ask__input.form-ask__input--options
      label(for='form-ask__sex-male') Мужской:
      input(type='radio' name='sex' value='m')#form-ask__sex-male
      label(for='form-ask__sex-female') Женский:
      input(type='radio' name='sex' value='f')#form-ask__sex-female
  .form-ask__field.form-ask__field--files
    label.form-ask__label Фотографии:
    .form-ask__input.form-ask__input--files
      .form-ask__file 1)
        input(type='file' name='userfile[]' value='m').text_q
      .form-ask__file 2)
        input(type='file' name='userfile[]' value='m').text_q
      .form-ask__file 3)
        input(type='file' name='userfile[]' value='m').text_q
  .form-ask__field.form-ask__field--agreement
    .form-ask__input.form-ask__input--agreement
      input(type='checkbox' required checked)#form-ask__agreement
    label.form-ask__label.form-ask__label--agreement(for='form-ask__agreement') Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.
  .form-ask__submit
    input.btn(type='submit' name='submit' value='Отправить вопрос')
      
    
  
