.form-ask
  &__field
    display flex
    margin-x (-(basePadding))
    margin-bottom (basePadding*2)
    &--agreement
      align-items center
    @media screen and (max-width point-m)
      flex-direction column
  &__label
    flex-shrink 0
    padding-x basePadding
    font-weight bold
    line-height line-m
    flex-basis 10rem
    padding-y 0.25rem
    ^[-1]__field--options &
      cursor default
    &--agreement
      flex-basis 30rem
      font-weight normal
      color #777777
      font-size font-s
      line-height line-s
    @media screen and (max-width point-m)
      flex-basis auto
  &__input
    margin-x basePadding
    flex-basis 30rem
    &--options
      display flex
      align-items center
      margin-x (basePadding/2)
      input
        padding-x (basePadding/2)
        margin-right (basePadding)
      label
        padding-x (basePadding/2)
    &--files
      padding-y 0.25rem
    &--agreement
      flex-basis 10rem
      margin-x 0
      padding-x basePadding
      display flex
      justify-content flex-end
    & textarea.form-input
        height 6.75rem
    @media screen and (max-width point-m)
      flex-basis auto
  &__file
    display flex
    margin-bottom basePadding
    &:last-child
      margin-bottom 0
      .form-input
        margin-bottom 0
    .form-input
      margin-left (basePadding)
    input
      max-width 100%
  &__submit
    padding-left (10rem)
    @media screen and (max-width point-m)
      padding-left 0
  &__error
    background-color #A60000
    color #fff
    padding (basePadding/3) (basePadding/2)
    display none
    &--active
      display block
