+grid({'justify':'center'}).footer-nav.hidden-s.hidden-xs
  +grid__item({'m':3,'xs':12}).footer-nav__block
    .footer-nav__title Статьи про алопецию
        ul.footer-nav__list.list-marked
          li.footer-nav__item
            a(href='') Алопеция
          li.footer-nav__item
            a(href='') Андрогенетическая алопеция
          li.footer-nav__item
            a(href='') Андрогенная алопеция
          li.footer-nav__item
            a(href='') Очаговая алопеция
          li.footer-nav__item
            a(href='') Алопеция у женщин
  +grid__item({'m':3,'xs':12}).footer-nav__block
    .footer-nav__title Статьи про облысение
    ul.footer-nav__list.list-marked
      li.footer-nav__item
        a(href='') Трихология
      li.footer-nav__item
        a(href='') Трихолог
      li.footer-nav__item
        a(href='') Лысина
      li.footer-nav__item
        a(href='') Облысение у женщин
      li.footer-nav__item
        a(href='') Облысение у мужчин
      li.footer-nav__item
        a(href='') Выпадение волос
      li.footer-nav__item
        a(href='') Выпадение волос у женщин
  +grid__item({'m':3,'xs':12}).footer-nav__block
    .footer-nav__title Разделы консультации
    ul.footer-nav__list.list-marked
      li.footer-nav__item
        a(href='') Андрогенетическая алопеция
      li.footer-nav__item
        a(href='') Рубцовая алопеция
      li.footer-nav__item
        a(href='') Выпадение волос у мужчин
      li.footer-nav__item
        a(href='') Выпадение волос у женщин
      li.footer-nav__item
        a(href='') Пересадка волос
  
