.footer-nav
  background-image linear-gradient(#ffffff, #f7f7f7)
  padding basePadding
  font-size font-xs
  line-height line-xs
  border 1px solid #cccccc
  margin-bottom (basePadding)
  &__block
    border-left 0.5px solid #cccccc
    &:last-child
      border-right 0.5px solid #cccccc
  &__title
    font-weight bold
  &__item
    a
      color #626A69
      text-decoration none
      font-size font-xs
      line-height line-xs
      &:hover
        text-decoration underline
  .grid&
    margin-x 0
    
