.consultation-top
  margin -(basePadding)
  margin-bottom (basePadding*2)
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items flex-end
  &__item
    padding basePadding
    &--menu
      flex-basis 100%
  &__search
    margin-bottom basePadding
  
