.consultation-top
  -
    const menuHorizontal = [
      {name:'Задайте вопрос',href:'/'},
      {name:'Рубрикатор вопросов',href:'/'},
      {name:'Все вопросы',href:'/'},
    ]
  .consultation-top__item.consultation-top__item--menu
    +menuHorizontal(menuHorizontal)
  .consultation-top__item.consultation-top__item--counter
    include ../consultation-questions-counter/consultation-questions-counter
  .consultation-top__item
    .consultation-top__search
      include ../consultation-search/consultation-search
    .consultation-top__pagination
      include /blocks/pagination/pagination
