.header-nav-mob
  label(for='header-nav-mob__checkbox').header-nav-mob__label 
  input(type='checkbox').header-nav-mob__checkbox#header-nav-mob__checkbox
  .header-nav-mob__body
    .header-nav-mob__info
      label(for='header-nav-mob__checkbox').header-nav-mob__label.header-nav-mob__label--inner
      .header-nav-mob__title Медицинский центр города<br>Клиника по пересадке волос
    include ../header-nav/header-nav 
