.header-nav-mob
  &__label
    width 3rem
    height 3rem
    display block
    background-image url('../images/menu-open.svg')
    background-size cover
    margin-x basePadding
    &--inner
      margin-y (basePadding)
      background-image url('../images/menu-close.svg')
  &__checkbox
    display none
    &:checked
      & ~ ^[-2]__body
        transform translateX(0) scale(1)
  &__info
    display flex
    align-items center
    height (3rem+(basePadding*2))
    border-bottom 1px solid #cccccc
  &__title
    font-size font-s
    line-height line-s
    flex-grow 1
    padding-right (2rem+basePadding)
    text-align center
    color #004c9e
  &__body
    transform translateX(-100%) scale(0.1)
    transform-origin 0 0 0
    transition .4s transform
    position absolute
    width 100%
    height 100vh
    top 0
    background-color #fafaff
    z-index 100
    .header-nav
      &__list
        flex-direction column
        background none
        padding-x (basePadding*4)
      &__item
        border-bottom .5px solid #cccccc
        &:last-child
          border-bottom none
        a
          color #000000
          text-align left
        &--active
          span
            text-align left
            color #000000
            background #f0f0f0
            font-weight bold
            
