.aside-block
  .aside-header Консультации
  .aside-consult
    .aside-consult__item
      .aside-consult__title 18.02.2018
      .aside-consult__body Подскажите с какими неудобствами в повседневной жизни возможно придется столкнуться после опера...
      .aside-consult__link 
        a(href='/list/0.htm#3606') ответ
    .aside-consult__item
      .aside-consult__title 18.02.2018
      .aside-consult__body Подскажите с какими неудобствами в повседневной жизни возможно придется столкнуться после опера...
      .aside-consult__link 
        a(href='/list/0.htm#3606') ответ
    .aside-consult__item
      .aside-consult__title 18.02.2018
      .aside-consult__body Подскажите с какими неудобствами в повседневной жизни возможно придется столкнуться после опера...
      .aside-consult__link 
        a(href='/list/0.htm#3606') ответ
