.header-main
  &__inner
    display flex
    align-items center
    padding-y basePadding
    margin-x (-(basePadding))
  &__item
    padding-x basePadding
    &--title
      font-size font-xl
      line-height line-xl
      color #5a8988
    &--action
      flex-grow 1
      align-self stretch
    &--logo
      @media screen and (max-width point-m)
        margin-x auto
  &__mobile
    margin-x (-(basePadding))
