header.header-main
  .header-main__top-menu
    include ../top-menu/top-menu
  .container
    .content
      .header-main__inner
        .header-main__navigation-mobile.hidden-hd.hidden-xl.hidden-l.hidden-m
          include header-nav-mob/header-nav-mob
        .header-main__item.header-main__item--logo
          include header-logo/header-logo
        .header-main__item.header-main__item--title.hidden-xs.hidden-s Клиника по пересадке волос
        .header-main__item.header-main__item--action.hidden-xs 
          include header-banner/header-banner
        .header-main__item.header-main__item--contacts
          include header-contacts/header-contacts
      .header-main__navigation.hidden-xs.hidden-s
        include header-nav/header-nav
