.header-logo
  display flex
  height 4.5rem
  width 8rem
  @media screen and (max-width point-m)
    height 3rem
    width 5.25rem
  &__inner
    width 100%
    height 100%
    background-image url('http://www.netvolos.ru/img/logo_med.png')
    background-position center
    background-repeat no-repeat
    background-size contain
