.form
  &__input
    font-size font-m
    line-height line-m
    padding 0.25rem 0.5rem
    display inline-block
    border 0.5px solid #cccccc
    transition .4s box-shadow
    &::placeholder
      color #999999
      transition .4s color
    &:focus
      outline none
      box-shadow 0 0 3px 2px rgba(153,153,158,0.5)
      transition none
      &::placeholder
        color #cccccc
        transition none
      
.validation-msg
  display none
  background-color #ef6673
  font-size font-s
  line-height line-s
  padding (font-s/4) basePadding
  color #ffffff

.validation-error-required .validation-msg-required
.validation-error-email .validation-msg-email
.validation-error-max-chars .validation-msg-max-chars
.validation-error-min-chars .validation-msg-min-chars
  display block

.validation-error input
.validation-error textarea
  border 1px solid #ef6673 !important
  border-radius 0 !important
