.aside-block
  .aside-header Основные вопросы
  ul.aside-menu
    li.aside-menu__item
      a(href='') Введение в пересадку волос
    li.aside-menu__item
      a(href='') Почему просходит облысение?
    li.aside-menu__item
      a(href='') Что такое трансплантация волос?
    li.aside-menu__item.aside-menu__item--active
      a(href='') Показания для трансплантации волос
    li.aside-menu__item
      a(href='') Методика пересадки волос
    li.aside-menu__item
      a(href='') Этапы процедуры восстановления ваших волос
    li.aside-menu__item
      a(href='') Стоимость услуг по пересадке волос
    li.aside-menu__item
      a(href='') Преимущества нашей методики
    li.aside-menu__item
      a(href='') Инновации
    li.aside-menu__item
      a(href='') Пересадка волос в область бровей
    li.aside-menu__item
      a(href='') Частые вопросы
