.aside-menu
  display flex
  flex-wrap wrap
  &__item
    border-bottom 0.5px solid #cccccc
    padding (basePadding/2)
    padding-right (basePadding*2)
    margin-x (-(basePadding/2))
    position relative
    flex 0 1 100%
    @media screen and (max-width (point-m - 1)) and (min-width point-s)
      flexBasis = 'calc(50% - '+(basePadding)+')'
      flex 0 1 unquote(flexBasis)
      margin-right (basePadding*2)
      &:nth-of-type(2n)
        margin-right 0
    &::after
      content ''
      position absolute
      top 50%
      right 0
      transform translateY(-50%)
      border (basePadding/2) solid transparent
      border-left (basePadding/2) solid #cccccc
    a
      color #626A69
      text-decoration none
      display inline-block
      &:hover
        color #2C79B3
    &--active
      a
        font-weight bold
